.banner {
    .thumbnail {
        img {
            @include aspect-ratio(635, 450);
            max-height: 272px;

            @include md {
                max-height: unset;
            }
        }
    }
    &-content {
        padding-top: 15px;
        @include md {
            padding: 0 0 0 10px;
        }
        @include lg {
            padding: 0 0 0 50px;
        }
    }
}

.about {
    .description {
        margin-bottom: 20px;

        @include md {
            margin-bottom: 30px;
        }
        @include lg {
            margin-bottom: 40px;
        }
    }

    .thumbnail {
        img {
            @include aspect-ratio(828, 298);
        }
    }
}

.gallery-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    @include md {
        grid-template-columns: repeat(2, 1fr);
    }
    @include lg {
        gap: 30px;
        grid-template-columns: repeat(4, 1fr);
    }

    & > *:nth-child(3) {
        @include md {
            grid-column: span 2;
        }
    }
}
