.site-header {
    padding: 10px 0;
    border-bottom: 1px solid rgba($clr-black, 30%);

    @include md {
        padding: 20px 0;
    }
    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .site-branding {
        img {
            max-width: 84px;

            @include md {
                max-width: unset;
            }
        }
    }
}

.main-navigation {
    position: unset;

    .navbar-collapse {
        position: absolute;
        top: 77px;
        left: 0;
        right: 0;
        background-color: $clr-white;
        box-shadow: 0 4px 10px rgba($clr-black, 30%);

        @include md {
            box-shadow: none;
            position: unset;
        }
    }
    .navbar-nav {
        padding: 20px 30px;
        gap: 10px;

        @include md {
            padding: 0;
            gap: 30px;
        }
        .nav-link {
            font-weight: 600;
            text-transform: uppercase;
            padding: 0;
            color: $clr-black;

            &.active,
            &:hover {
                color: $clr-primary;
            }
        }
    }
}

.navbar-toggler {
    border: 0;

    &:focus {
        box-shadow: none;
    }
}

.page-header {
    .thumbnail {
        img {
            @include aspect-ratio(635, 250);
        }
    }
    .page-title {
        padding: 20px 0 0 0;

        @include md {
            padding-left: 50px 0 0 0;
        }
    }
}
