.site-header {
    padding: 20px 0;
    border-bottom: 1px solid rgba($clr-black, 30%);
    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.main-navigation {
    .navbar-nav {
        gap: 30px;
        .nav-link {
            font-weight: 600;
            text-transform: uppercase;
            padding: 0;
            color: $clr-black;

            &.active,
            &:hover {
                color: $clr-primary;
            }
        }
    }
}

.page-header {
    .thumbnail {
        img {
            @include aspect-ratio(635, 250);
        }
    }
    .page-title {
        padding-left: 50px;
    }
}
