.card {
    border: none;
    border-radius: 0;
    .card-img {
        border-radius: 0;
        overflow: hidden;
        height: 100%;
        img {
            @include transition;
            @include aspect-ratio(540, 472);
            height: 100%;
        }
    }
    &:hover {
        .card-img {
            img {
                transform: scale(1.2);
            }
        }
    }
}

.description {
    p:last-of-type {
        margin-bottom: 0;
    }
}
.gallery-card {
    .card-img {
        img {
            aspect-ratio: 294 / 150;
            max-height: 150px;

            @include md {
                aspect-ratio: 1;
                max-height: 280px;
            }
            @include lg {
                min-height: 472px;
                max-height: 472px;
                aspect-ratio: 537 / 472;
            }
        }
    }
}
.normal-card {
    height: 100%;
    .card-img {
        img {
            aspect-ratio: 540 / 233;
            max-height: 233px;
            min-height: 233px;
        }
    }
    .card-body {
        height: 100%;
        border: 1px solid $clr-black;
        border-top: 0;
        padding: 30px;
    }
    .card-title {
        margin-bottom: 20px;
    }
}
