.card {
    border: none;
    border-radius: 0;
    .card-img {
        border-radius: 0;
        overflow: hidden;
        height: 100%;
        img {
            @include transition;
            @include aspect-ratio(540, 472);
            height: 100%;
        }
    }
    &:hover {
        .card-img {
            img {
                transform: scale(1.2);
            }
        }
    }
}

.description {
    p:last-of-type {
        margin-bottom: 0;
    }
}
.gallery-card {
    .card-img {
        img {
            min-height: 472px;
            max-height: 472px;
        }
    }
}
.normal-card {
    .card-img {
        img {
            aspect-ratio: 540 / 233;
        }
    }
    .card-body {
        border: 1px solid $clr-black;
        border-top: 0;
        padding: 30px;
    }
    .card-title {
        margin-bottom: 20px;
    }
}
